<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="bg-primary text-white">
    <main class="container text-center">
        <h2 class="my-4">Welcome to the Selection App!</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <a href="/opinions" class="btn btn-primary btn-lg btn-block">Pick Opinion</a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="/flip-coin" class="btn btn-warning btn-lg btn-block">Flip Coin</a>
            </div>
        </div>
        <br><br>
        <div class="mt-4">
            <p>The Opinion app has two options: one is to choose one opinion randomly amongst multiple opinions, and the other is a coin flip. If we have to just choose between two things randomly, then we can simply use the coin flip. When we have to choose between 3 or more opinions, then we can use the Pick opinion option.</p>
        </div>
    </main>
    <footer class="text-center mt-5">
        <p>Created by Saurabh Kale</p>
    </footer>
</body>

</html>
