<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinion App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="bg-primary text-white">
    <main class="container">
        <h2 class="my-4 text-center">Enter Your Opinions</h2>
        <form action="/random-opinion" method="post">
            <% for (let i = 1; i <= numOpinions; i++) { %>
                <div class="form-group">
                    <label for="opinion<%= i %>">Opinion <%= i %>:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="opinions[]" id="opinion<%= i %>" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('opinion<%= i %>')">👁️</button>
                        </div>
                    </div>
                </div>
            <% } %>
            <button type="submit" class="btn btn-success btn-block">Select Random Opinion</button>
        </form>
    </main>

    <script>
        function togglePassword(inputId) {
            const input = document.getElementById(inputId);
            input.type = (input.type === 'password') ? 'text' : 'password';
        }
    </script>
    <footer class="text-center mt-5">
        <p>Created by Saurabh Kale</p>
    </footer>
</body>

</html>
