<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinion App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background: linear-gradient(to bottom right, #4b6cb7, #182848); color: white;">
    <div class="container text-center">
        <h2 class="my-4">Randomly Selected Opinion:</h2>
        <p class="lead"><%= randomOpinion %></p>
    </div>
    <footer class="text-center mt-5">
        <p>Created by Saurabh Kale</p>
    </footer>
</body>
</html>
